* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	overflow-x: auto;
}
body {
	overflow-x: hidden;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--color-gray);
}
