@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1;
	color: var(--color-gray);
}
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.heading-primary {
	font-size: 4rem;
}
.heading-secondary {
	font-size: 3.5rem;
}
.heading-tertiary {
	font-size: 1.8rem;
}
.heading-tertiary {
	font-size: 1.8rem;
}
.heading-quaternary {
	font-size: 2.5rem;
	line-height: 1.3;
}
.paragraph-primary {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	line-height: 1.7;
	font-weight: 500;
}
.paragraph-secondary {
	font-family: "Poppins", sans-serif;
	font-size: 2.2rem;
	line-height: 1.7;
	font-weight: 700;
}
